<!DOCTYPE html>
<html>
  <head>
    <title>Flask Template Example</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <style type="text/css">
      body{
       /*  background-image: url("https://upload.wikimedia.org/wikipedia/commons/3/3a/Djeno_Collines_littorales_touristiques_5441746129.jpg"); */

      }

    </style>
  </head>
  <body>
    <div class="container">
    </div>
    <div class="moro" >
       <dl>
         <dt>article 1</dt>
         <dd>
            définition, montreuil,,... 1
            définition, montreuil,,... 1
            définition, montreuil,,... 1
            définition, montreuil,,... 1
            définition, montreuil,,... 1
            définition, montreuil,,... 1
            définition, montreuil,,... 1

         </dd>
         <dt>article 2</dt>
         <dd>
            définition 2
            définition 2
            définition 2
            
         </dd>
        </dl>

          
    </div>

    <div class="ana"> </div>
    <div class="tana">

    </div>

    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  </body>
</html>

